@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    corporate --default,
    halloween,
    emerald,
    night,
    synthwave,
    fantasy,
    abyss,
    cyberpunk,
    forest;
}

@plugin "daisyui/theme" {
  name: 'christmas';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(22.5% 0.077 168.94);
  --color-base-200: oklch(15% 0.077 168.94);
  --color-base-300: oklch(12.4% 0.077 168.94);
  --color-base-content: oklch(83.768% 0.001 17.911);
  --color-primary: oklch(52% 0.154 150.069);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(63% 0.237 25.331);
  --color-secondary-content: oklch(13.955% 0.027 168.327);
  --color-accent: oklch(70.628% 0.119 185.713);
  --color-accent-content: oklch(14.125% 0.023 185.713);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(86.139% 0.007 171.364);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-dark: oklch(50% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-dark: oklch(60% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-dark: oklch(40% 0.237 25.331);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@config "../tailwind.config.js";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg)
    saturate(0.3) brightness(0.7);
  --padding-card: 1.5rem;
}

html {
  overflow-y: hidden;
}

html[data-theme='dark'] .map-tiles {
  filter: var(--map-tiles-filter, none);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.gmnoprint {
  display: none;
}

.cesium-infoBox {
  display: none;
}

.cesium-selection-wrapper-visible {
  display: none;
}

.gm-style iframe + div {
  border: none !important;
}
