@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg)
    saturate(0.3) brightness(0.7);
  --padding-card: 1.5rem;
}

html[data-theme='dark'] .map-tiles {
  filter: var(--map-tiles-filter, none);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
